/* Additionals */
@import url(//fonts.googleapis.com/css?family=Ruda:400,700);


@media screen and (min-width: 0px) { .image-main { width:100%; } }
@media screen and (min-width: 880px) { .image-main { width:60%;margin-top:20px; } }

@media screen and (min-width: 0px) { .zoom { zoom: 100%; } }
@media screen and (min-width: 880px) { .zoom { zoom: 105%; } }


.head-title {
  margin-right:200px; 
  margin-top:90px; 
  margin-bottom: -4px; 
  font-size:60px
}

.background-main {
  width: 100%;
  height: calc(100vh - 61px);
  background-image: url(https://www.prism.gatech.edu/~mchi6/github/bg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding:0px;
}
/**/
.tt { 
  position: relative;
  display: table;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.ttbb {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  color:white;
  font-size: 400%;
}

.slicknav_menu {

    display:none;
}

#header {
  z-index: 9;
  margin-top:-1px;
  border-top:1px solid black;
}

.current {
  height: 60px; border-bottom: 4px solid;
}
#m-boost {
  margin-left:80px !important;
}
#mobile-show {
  display:none;
}
.titlestyle {
  margin-left:5px !important;
  height: 60px !important; 
  border-bottom: 4px solid black !important;
  padding: 0 0px !important;
}

@media screen and (max-width: 880px) {
  /* #menu is the original menu */
  .js #menu {
      display:none;
  }
  
  .header {
    display:none;
  }

  .js .slicknav_menu {
    font: normal 16px "Ruda", Arial, sans-serif;
    display:block;
  }
  .current {
    border-bottom:0px;
  }
  #mobile-show {
    display:block;
  }
  #m-boost {
    margin-left:0px !important;
  }
  .titlestyle {
    margin-top:-58px !important;
    margin-bottom:5px !important;
    margin-left:0px !important;
    height: 30px !important; 
    border-bottom: 1px solid #A5ABB3 !important;
    padding: 0 0px !important;
  }
}


.fancyimage {
    border: 1px solid #444; 
    border-top-right-radius:.4em;
    border-bottom-left-radius:.4em;
}

.mtwenty {
    margin-left:20px;
}

#BG1 {
  left:50%;
  top:0;
  left-margin:-10000px;
  position: fixed;
  z-index:-99999;
}


.fadein { 
  margin-left:7px;
  position:relative;
  width:600px;
  height:230px; 
}

.fadein img { 
  position:absolute; left:0; top:0; 
}

.fadelinks { 
  position:relative; 
  width:600px;
  height:230px;
 }

.fadelinks > * {
  position:absolute;
  left:0;
  top:0;
  display:block;
}


#slide-images{
  position:relative;
  display:block;
  margin:0px;
  padding:0px;
  width:640px;
  height:251px;
  overflow:hidden;
}

#slide-images li{
  position:absolute;
  display:block;
  list-style-type:none;
  margin:0px;
  padding:0px;
  /*background-color:#FFFFFF;*/
}

#slide-images li img{
  display:block;
  background-color:#FFFFFF;
}



a.anchor{
  display: block; 
  position: relative; 
  top: -80px; 
  visibility: hidden;
}

#innerheader {
  width: 680px;
  margin: 0 auto;
}
#innerheader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#innerheader li {
  font-size: 17px;
  float: left;
  margin-left: 40px;
  color: black;
}

#title {
  font-size: 32px;
  margin-left: 40px;
  padding: 12px 15px;
  border: 1px solid #A5ABB3;
  background-color: white;
  margin-right: -1px;
  border-bottom-left-radius:.3em;
}

@media (min-width: 768px) {
  #title {
    margin-right: -1px;
  }
}

@media (min-width: 900px) {
  #title {
    margin-right: -.7px;
  }
}

@media (min-width: 1200px) {
  #title {
    margin-right: -1px;
  }
}


#content {
  font-size: 14px;
  padding: 20px 53px;
}
#content p {
  text-indent: 3em; 
  line-height: 1.4;
}


@media (min-width: 0px) {
  .button0 { top: 260px; margin-left: -430px;} /*200 260*/
  .button1 { top: 320px; margin-left: -430px;} /*260 320*/
  .button2 { top: 380px; margin-left: -430px;} /*320 380*/
  .button3 { top: 260px; margin-left:  390px;}
  .button4 { top: 320px; margin-left:  390px;}
  .button5 { top: 380px; margin-left:  390px;}
}


@media (min-height: 0px) {
  .button0 { top:  70px; margin-left: -430px;} /*200 260*/
  .button1 { top: 130px; margin-left: -430px;} /*260 320*/
  .button2 { top: 190px; margin-left: -430px;} /*320 380*/
  .button3 { top:  70px; margin-left:  390px;}
  .button4 { top: 130px; margin-left:  390px;}
  .button5 { top: 190px; margin-left:  390px;}
}


@media (min-height: 450px) {
  .button0 { top: 260px; margin-left: -430px;} /*200 260*/
  .button1 { top: 320px; margin-left: -430px;} /*260 320*/
  .button2 { top: 380px; margin-left: -430px;} /*320 380*/
  .button3 { top: 260px; margin-left:  390px;}
  .button4 { top: 320px; margin-left:  390px;}
  .button5 { top: 380px; margin-left:  390px;}
}


@media (min-height: 600px) { /*1024*/
  .button0 { top: 260px; margin-left: 390px; } /*-430 390*/
  .button1 { top: 320px; margin-left: 390px; } /*-430 390*/
  .button2 { top: 380px; margin-left: 390px; } /*-430 390*/
  .button3 { top: 440px; margin-left: 390px; } /*-430 390*/
  .button4 { top: 500px; margin-left: 390px; } /*-430 390*/
  .button5 { top: 560px; margin-left: 390px; } /*-430 390*/
}


/*@media (min-width: 600px) { /*1024*/
/*  .button0 { top:  89px; margin-left: 390px; } /*260  80*/
/*  .button1 { top: 149px; margin-left: 390px; } /*320 140*/
/*  .button2 { top: 209px; margin-left: 390px; } /*380 200*/
/*  .button3 { top: 269px; margin-left: 390px; } /*440 260*/
/*  .button4 { top: 329px; margin-left: 390px; } /*500 320*/
/*  .button5 { top: 389px; margin-left: 390px; } /*560 380*/
/*}
*/

#back-to-top {
    padding: 0px;
    left: 50%;
	  font-size: 25px;
    position: fixed;
    z-index: -9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    /*background-color: #F1F1F1;*/
    background-color: white;
    color: #444;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #A5ABB3;
    border-radius:.2em;
    /*opacity: 0;
    visibility: hidden;*/
    -moz-box-shadow: 0px 0px .5px #888;
    -webkit-box-shadow: 0px 0px .5px #888;
    box-shadow: 0px 0px .5px #888;
}

@media only screen and (min-width: 1024px) {
  #back-to-top:hover {
      /*background: white;*/
      background-color: #F1F1F1;
      border: 1px solid black;
    -moz-box-shadow: 0px 0px 3px #888;
    -webkit-box-shadow: 0px 0px 3px #888;
    box-shadow: 0px 0px 3px #888;
  }
}

#back-to-top.show {
    opacity: 1;
	  visibility: visible;
}

#back-to-top h5 {
  font-size: 15px;
  line-height:0px;
}

#back-to-top h1 {
  font-size: 25px;
  line-height:0px;
}

@media only screen and (min-width: 768px) {
  #back-to-top h5 {
    font-size:9px;
    line-height:8px;
  }

  #back-to-top h1 {
    font-size: 20px;
    margin-top: 10px;
  }
}


@media only screen and (min-width: 1024px) {
  #back-to-top {
	  font-size: 25px;
    height: 45px;
    width: 45px;
  }
}

.sideScroll1 {
  display: none;
}

.sideScroll2 {
  display: none;
}

/* Buttons */

.button {
  border: 1px solid black;
  border-radius:.3em;
  border-top-right-radius:.3em;
  border-bottom-left-radius:.3em;
  background-color: white;
  text-align:center;
}

/* Custom Buttons */


/*Normal*/

.button-project { /* details */
  border: 1px solid #74787D;
  font-weight: bold;
  margin-top: 3px;
  margin-right:6px;
  padding: 6px;
  width: 110px;
  font-size: 13px;
  height: 30px;
  color:black;
  float:right;
  -moz-box-shadow:    1px 1px .5px #888;
  -webkit-box-shadow: 1px 1px .5px #888;
  box-shadow:         1px 1px .5px #888; 
}
.button-project:hover {
  border: 1px solid black;
  text-decoration: none;
  -moz-box-shadow:    0px 0px 3px #888;
  -webkit-box-shadow: 0px 0px 3px #888;
  box-shadow:         0px 0px 3px #888; 
}


.button-main { /* details */
  border: 1px solid #74787D;
  margin-left:10px;
  width: 210px;
  font-size: 20px;
  height: 160px;
  color:black;
  display: block;
  -moz-box-shadow:    1px 1px .5px #888;
  -webkit-box-shadow: 1px 1px .5px #888;
  box-shadow:         1px 1px .5px #888;
  opacity:.95;
}
.button-main:hover {
  color:white;
  border: 1px solid black;
  text-decoration: none;
  -moz-box-shadow:    0px 0px 3px #888;
  -webkit-box-shadow: 0px 0px 3px #888;
  box-shadow:         0px 0px 3px #888; 
  opacity:1;
  font-weight: bold;
}


 .mNumber {
    float: left;
    font-size: 35px;
    margin-left: 8px;
    margin-top:15px;
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

 }

 .mName {
    float:right;
    font-size: 16px;
    margin-right: 8px;
    margin-top:35px;
    text-shadow: 2px 0 white, -2px 0 white, 0 2px white, 0 -2px white, 1px 1px white, -1px -1px white, -1px 1px white, 1px -1px white;
 }



#main { /* space that holds button */
  position: absolute; left: 0; width: 100%; bottom: 0;
}


/*
  height: 160px;
  width: 210px;
  background: #fff url("./files/projectsmain/1.png");
*/

/*Resume*/
.button-resume {
  margin-top: -7px;
  padding: 12px;
  width: 250px;
  font-size: 20px;
  height: 50px;
  color:black;
  elevation: -50;
  -moz-box-shadow:    1px 1px 5px #888;
  -webkit-box-shadow: 1px 1px 5px #888;
  box-shadow:         1px 1px 5px #888; 
}
.button-resume:hover {
  -moz-box-shadow:    0px 0px 10px #888;
  -webkit-box-shadow: 0px 0px 10px #888;
  box-shadow:         0px 0px 10px #888; 
}
#resume { /* space that holds button */
  text-decoration: none;
  color: black;
  height: 100px;
  padding-left: 55px;
  margin-top:-20px;
}


/* Round Corners */
.round-corners {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: .3s;
  -webkit-transition-property: border-radius,;
  transition-property: border-radius;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.round-corners:hover { /*.round-corners:active */
  border-radius: 1em;
  /*border-top-right-radius:2em;
  border-bottom-left-radius:2em;*/
  color: black;
}

.round-corners:focus { /*.round-corners:active */
  color: black;
  text-decoration: none;
}


/* Tables */

#table4 {
  padding: 0px;
}


#table4 li {
  list-style: none;
  float: left;
  width: 167px;
  text-align: center;
}


#table2 {
  padding: 0px;
}

#table2 ul {
  margin-left:10px;
}


#table2 li {
  list-style: none;
  float: left;
  width: 325px;
  text-align: center;
}


#table1 {
  padding: 0px;
}

#table1 li {
  list-style: none;
  float: left;
  width: 700px;
  text-align: center;
}




/* Space out content a bit */
body {
  font: normal 16px "Ruda", Arial, sans-serif;
  padding-top: 0px;
  padding-bottom: 20px;

  background-image:url(https://www.prism.gatech.edu/~mchi6/github/wallpaper2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  /*margin: 0 auto;*/
  background-color:rgba(256, 256, 256, 0.9);
  border-bottom: 1px solid #818A96;
  height: 60px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  font-weight:bold;
  padding-bottom: 19px;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 40px;
  float: left;
  border-bottom: 2px solid transparent;
}




/* Footer */
.footer {
  padding-top: 8px;
  width: 100%;
  /*border-top: 1px solid #e5e5e5;*/
  max-width: 730px;
  text-align: right;
  margin: auto;
  font-size:12px;
}

/* Container */
@media (min-width: 768px) {
  .container {
  max-width: 750px;
	background-color: rgba(241,241,241,0.8);
	border: 1px solid #A5ABB3;
	padding-top: 50px;
	padding-bottom: 60px;
  margin-bottom:100px;
	border-top-right-radius:3em;
	border-bottom-left-radius:3em;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;

  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  .footer {
    margin-top:-100px;
  }
}
